* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  margin: auto;
}

header {

}

.nav_bar {

}

.intro_bar {

}

#intro_text {

}

.presentation {

}

.prices {

}

#motto {

}

.price {

}

.community {

}

#community_table {

}

.users {

}

.logos {

}

.final_advertisment {

}

.img_box {

}

footer {

}
